.gestion-admin {
    min-height: 100vh;
    padding: 40px 20px;
    background: linear-gradient(180deg, #0f172a, #111827);
    color: white;
}

.contenedor-gestion-admin {
    max-width: 1400px;
    margin: 0 auto;
}



/* ENCABEZADO */

.encabezado-gestion {
    margin-bottom: 35px;
}

.encabezado-gestion h1 {
    font-size: 2.3rem;
    margin-bottom: 10px;
}

.encabezado-gestion p {
    color: rgba(255, 255, 255, 0.7);
}



/* FILTROS */

.filtros-admin {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.filtros-admin input {
    flex: 1;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 14px 18px;
    color: white;
    outline: none;
    font-size: 1rem;
}

.filtros-admin input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}



/* BOTON AGRUPAR */

.boton-agrupar {
    border: none;
    border-radius: 50px;
    padding: 14px 24px;
    background: #2563eb;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.boton-agrupar:hover {
    background: #1d4ed8;
}



/* GRID */

.grid-admin {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}



/* GRUPOS */

.grupo-incidentes {
    grid-column: 1 / -1;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 18px;
    overflow: hidden;
}

.encabezado-grupo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
    transition: 0.3s;
}

.encabezado-grupo:hover {
    background: rgba(255, 255, 255, 0.08);
}

.encabezado-grupo h2 {
    font-size: 1.1rem;
    margin: 0;
}

.encabezado-grupo span {
    font-size: 2rem;
    font-weight: bold;
}

.grupo-cards {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.contenedor-boton-desagrupar {
    width: 30vw;
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
}


@media (max-width: 900px) {

    .encabezado-gestion h1 {
        font-size: 2rem;
    }

    .grid-admin,
    .grupo-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {

    .grid-admin,
    .grupo-cards {
        grid-template-columns: 1fr;
    }

    .filtros-admin {
        flex-direction: column;
    }

    .boton-agrupar {
        width: 50%;
    }

    .contenedor-boton-desagrupar {
        width: auto;

    }

}